<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Cursos</title>
</head>
<body>
    <h1>Cadastro de Cursos</h1>
    <form th:action="@{/cursos/salvar}" method="POST" th:object="${curso}">
        
         <label for="idCurso">ID Aluno:</label>
         <input type="text" name="idCurso" th:field="*{idCurso}" readonly>
         <br/>

         <label for="nomeCurso">Nome:</label>
         <input type="text" name="nomeCurso" th:field="*{nomeCurso}" >
         <br/>

         <label for="periodoCurso">Periodo:</label>
         <input type="text" name="periodoCurso" th:field="*{periodoCurso}" >
         <br/>

         <label for="chCurso">Carga Horaria :</label>
         <input type="text" name="chCurso" th:field="*{chCurso}" >
         <br/>

         <input type="submit" name="Cadastrar">

    </form>     
 
</body>
</html>